{% extends "bootstrap/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
    Census of Bede MSS
{% endblock %}

{% block content %}
  <h1>Census of Bede Manuscripts</h1>
  <h2>{{work.title_lat}}</i> / <i>{{work.title_eng}} ({{work.abbreviation}})</h2>
        <ul>
        {% for ms in mss %}
            <li>{{ms.settlement}}, {{ms.repository}}, {{ms.shelfmark}}
            </li>
        {% endfor %}
        </ul>
{% endblock %}
